h1 {
    text-align: center;
    color: white;
    margin-top: auto;
    background: blue;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial;
}

table.table3 {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

table.table3 th{
    height: 40px;
    border: 1px solid black;
}
table.table3 tr {
    height: 30px;
}
table.table3 td{
    border: 1px solid black;

}

form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}